src/imgs/
uploads/
src/examples/*
src/calibration/*
src/cv/yolo_dataset/images/train/*
src/cv/yolo_dataset/images/val/*
src/cv/yolo_dataset/labels/train/*
src/cv/yolo_dataset/labels/val/*
src/cv/runs/segment/*
src/cv/custom_data/*
src/cv/test_data/*
src/cv/additional_data/*
src/cv/top_faces_data/*